SECRET_KEY = 'YOUR_SECRET_KEY_HERE'
DATABASE_URI = 'sqlite:///users.db'
SALT = '16RANDOMCHARSxx'

import datetime
def REPORT_FORMAT(report, experiment):
    report.add_heading('Eights Report {}'.format(datetime.datetime.now()), 1)
    report.add_heading('Roc AUCs', 3)
    report.add_summary_graph_roc_auc()
    report.add_heading('Average Scores', 3)
    report.add_summary_graph_average_score()
    report.add_heading('ROC for best trial', 3)
    report.add_graph_for_best_roc()
    report.add_heading('Prec recall for best trial', 3)
    report.add_graph_for_best_prec_recall()
    report.add_heading('Legend', 3)
    report.add_legend()
