<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
        <script src="js/angular-nvd3.js"></script>
        <script src="js/univis.js"></script>
        <script src="js/uniplot.js"></script>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css" rel="stylesheet" />
        <link href="css/univis.css" rel="stylesheet" />
    </head>
    <body>

        <div ng-app="univisApp" ng-controller="univisCtrl" ng-cloak>
            <uib-accordion> 
                <uib-accordion-group heading="Models" 
                    is-open="open_view==='models'"> 
                    <table>
                        <tr>
                            <th></th>
                            <th>Classifier Name</th>
                            <th>Time</th>
                        </tr>
                        <tr ng-repeat="model in model_list">
                            <td> 
                                <button type="button" ng-click="pickModel($index)">
                                    Examine
                                </button>
                            </td>
                            <td> {{ model.name }} </td>
                            <td> {{ model.time }} </td>
                        </tr>
                    </table>
                </uib-accordion-group>
            <uib-accordion-group heading="Model Performance" 
                is-open="open_view==='model_performance'">
                <uib-tabset>
                    <uib-tab heading="Model Performance">
                        Model Name: {{ model_info.name }}<br>
                        Model time: {{ model_info.time }}<br>
                        <table>
                            <tr ng-repeat="(metric, score) in model_info.perf_metrics">
                                <td> {{ metric }} </td>
                                <td> {{ score }} </td>
                            </tr>
                        </table>
                        <br>
                        <nvd3 options="roc.options" data="roc.data">
                        </nvd3>
                        <button type="button" ng-click="goTo('models')">
                            back
                        </button>
                    </uib-tab>
                    <uib-tab heading="Top Units"> 
                        <table>
                            <tr>
                                <th></th>
                                <th>Score</th>
                                <th>Unit ID</th>
                            </tr>
                            <tr ng-repeat="unit in top_units">
                                <td> 
                                    <button type="button" 
                                        ng-click="pickUnit($index, 'top')">
                                        Examine
                                    </button>
                                </td>
                                <td> {{ unit.score }} </td>
                                <td> {{ unit.unit_id }} </td>
                            </tr>
                        </table>
                        <br>
                        <button type="button" ng-click="goTo('models')">
                            back
                        </button>
                    </uib-tab>
                </uib-tabset>
            </uib-accordion-group>
            <uib-accordion-group heading="Unit performance" 
                is-open="open_view==='unit_performance'">
                <uib-tabset>
                    <uib-tab heading="Distributions">
                        {{ unit }}<br>
                        distribution info goes here

                        <br>
                        <button type="button" 
                            ng-click="goTo('model_performance')">
                            back
                        </button>
                    </uib-tab>
                    <uib-tab heading="Similar">
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-primary" 
                                uib-dropdown-toggle> 
                                {{similar_feature}} <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" 
                                aria-labelledby="single-button">
                                <li role="menuitem"
                                    ng-repeat="feature in top_n_feature_names">
                                    <a 
                                        ng-click="pickSimilarFeature(feature)">
                                        {{feature}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <table>
                            <tr>
                                <th></th>
                                <th>{{similar_feature}}</th>
                                <th>Unit ID</th>
                            </tr>
                            <tr ng-repeat="unit in similar_units">
                                <td> 
                                    <button type="button" ng-click="pickUnit($index, 'similar')">
                                        Examine
                                    </button>
                                </td>
                                <td> {{ unit[similar_feature] }} </td>
                                <td> {{ unit.unit_id }} </td>
                            </tr>
                        </table>
                        <br>
                        <button type="button" 
                            ng-click="goTo('model_performance')">
                            back
                        </button>
                    </uib-tab>
                </uib-tabset>
            </uib-accordion-group>
            </uib-accordion>
        </div>
    </body>
</html>

